
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/chat.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" />


<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h4 class="card-title"><strong>Chat</strong></h4>
                        <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Let's Chat App</a>
                    </div>


                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                        <div id="messages">

                        </div>
                        @* Сообщения *@
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div>
                    </div>

                    <div class="publisher bt-1 border-light">
                        <input id="body" maxlength="100" class="publisher-input" type="text" placeholder="Write something">
                        <button id="submit" onclick="sendMessage('@User.Identity.Name')" type="submit">Send</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous">
</script>

<script>
    $('body').on('input', 'input[type="text"][maxlength]', function () {
        if (this.value.length > this.maxlength) {
            this.value = this.value.slice(0, this.maxlength);
        }
    })
    function sendMessage(username) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("CreateAjax", "Message")',
            type: 'POST',
            data: { 'username': username, 'body': $('#body').val() },
            success: console.log('good'),
            error: console.log('error'),
        });
        return false;
    }

    function loadMessages() {
        $.ajax({
            url: '@Url.Action("GetMessages", "Message")',
            type: 'GET',
            success: function (data) {
                $('#messages').html(data);
                console.log('GOOD');
            },
        });
    }
    loadMessages();

    setInterval(loadMessages, 5000);

    
</script>